*{
    font-family: 'Courier New', Courier, monospace;
}

.navbar a{
    font-size: 1rem;
    margin: 0 .5rem;
    color: black;
    text-decoration: none;
}
.navbar {
    background-color: antiquewhite;
    padding: .2rem;
}

.container{
    background-color: rgb(164, 164, 101);
    max-width: 70%;
    margin: 12px auto;
}

h4{
    text-align: center;
    padding: 3px;
}

.container{
    margin: 35px 0px; 
    }
    
    input, textarea{
        display: block;
        padding: 3px;
        margin: 15px auto;
        width: 60%;
        outline: none;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .btn{
        margin: 4px auto;
        display: block;
        padding: 5px 12px;
        background: #302d2d;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: 2px solid black;
        border-radius: 9px;
        cursor: pointer;
        outline: none;
    }