h1{
    text-align: center;
    margin: 12px 0;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 12px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}

.btn{
    padding: 6px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: #fff;
    margin: 13px;
    background: #d43b3b;
    cursor: pointer;
}

