/* css for index1  */

body{
    color: white;
        margin: auto;
        padding: auto;
        background: url('gym10.jpg');
        background-repeat: no-repeat;
        font-family: 'PT Serif', serif;
}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 12px;
    text-align: center;
    color: white;
}
.left img{
    width: 158px;
    filter: invert(100%);
}
.left div {
    font-size: 25px;
    position: absolute;
    top: 103px;
    left: 38px;

}

.mid{
    display: block;
    width: 51%;
    margin: 6px auto;
    padding: 0px;
    /* border: 2px solid greenyellow; */
    position: absolute;
    top: 13px;
    left: 261px;
    font-size: 34px;
}

.right{
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 26px;
    /* border: 2px solid blue; */
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 2px 23px;
}

.navbar li a:hover , .navbar li a :active {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    border: 2px solid white;
    border-radius: 15px;
}

.btn{
    margin: 0px 12px;
    background-color: black;
    color: white;
    padding: 6px 18px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(31, 30, 30);
}

.container{
    border: 2px solid white;
    margin: 222px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 62px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 472px;
    padding: 7px;
    border: 2px solid white;
    margin: 19px auto;
    border-radius: 15px;
}

.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 23%;
    margin: 52px auto;
    padding: 9px;
}



