doctype html
html
  head 
     style
       include ../static/style.css 
  body 
    nav#navbar
        ul
           li #[a(href="/") Home]
           li #[a(href="/") About] 
           li #[a(href="/") Services ]
           li #[a(href="/") contact us] 
           li #[a(href="/") Class info]

    section#infosection
          div Welcome to Wewake's dance academy
          div.small Eat Sleep Dance Repeat

    section#missionSection
           h2  Our Mission
           div.card 
               h3 This is a para
           div.card 
               h3 This is a para
           div.card 
               h3 This is a para


    section#sponserSection 
           h2  Our Sponsers
           
    section#Footer
          | our footer here


    script 
      include ../static/index.js 