*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    text-align: center;
    height: auto;
    width: auto;
}
.loader{
    height: 850px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span{
    position: relative;
    align-items: center;
    display: block;
    margin: 0 2px 50px;
    min-width: 5px;
    height: 30px;
    background: white;
    animation: animate 5s linear infinite;
}
@keyframes animate {

}

.loader span:nth-child(1)
{
    background: red;
}
.loader span:nth-child(2)
{
    background: rgb(16, 255, 20);
}
.loader span:nth-child(3)
{
    background: rgb(231, 238, 33);
}
.loader span:nth-child(4)
{
    background: rgb(255, 8, 189);
}
.loader span:nth-child(5)
{
    background: rgb(50, 16, 241);
}
.loader span:nth-child(6)
{
    background: rgb(19, 255, 184);
}
.loader span:nth-child(7)
{
    background: rgb(255, 30, 105);
}
.loader span:nth-child(8)
{
    background: rgb(231, 238, 33);
}
.loader span:nth-child(9)
{
    background: rgb(255, 8, 189);
}
.loader span:nth-child(10)
{
    background: rgb(50, 16, 241);
}
.loader span:nth-child(11)
{
    background: rgb(19, 255, 184);
}
.loader span:nth-child(12)
{
    background: rgb(255, 30, 105);
}

