<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>using plain html in pug</title> -->
    <title>#{title}</title>

    style 
        include ../static/style.css
</head>
<body>
    <nav class="navbar">
        <a href="#">home</a>
        <a href="#">About</a>
        <a href="#">contact us</a>
    </nav>
    
    <div class="container">

        <h4>Get this gym membership for 60$ - Fill this form now!</h4>
        <!-- <p> 
            | #{content} 
            | This is a plain html using pug 
        </p> -->
        

        <form action="/"></form>

    </div>

</body>
</html>