*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(13, 32, 5);
    /* background: black; */
    animation: animatebg 10s linear infinite;
}

@keyframes animatebg {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
section .loading{
    position: relative;
    height: 120px;
    width: 120px;
}

section .loading span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(calc(18deg* var(--i))); 
}

section .loading span::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 100px #00ff0a;

    animation: animate 2s linear infinite;  
    animation-delay: calc(var(--i) * 0.1s);           
}


@keyframes animate {
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}

