doctype html 
html 
    head 
        style 
            include ../static/style.css
    body 
        nav#navbar 
            ul 
                li #[a(href='/') home]
                li #[a(href='/') about]
                li #[a(href='/') services]
                li #[a(href='/') class info]
                li #[a(href='/') contact us]

    section#introSection 
        div Welcome to Monty's Dance Academy 
        div.small Eat sleep Dance Repeat
 
    section#sponsorsSection
        h2 our sponsors  


    section#footerSection
        | footer        


        script 
            include ../static/index.js    