html
  head
    title Monty Dance Academy
    block scripts
    block style
  Body
    nav#navbar      
      div#logo  
        img(src="/static/img/logo.png", alt="")
        | MDA
 
      ul 
        li #[a(href='/') home]
        li #[a(href='/') about]
        li #[a(href='/') services]
        li #[a(href='/') class info]
        li #[a(href='/') contact us]

      div#icon  
        img(src="/static/img/user.png", alt="")
    block content
    //- footer#footer
    //-     | Copyright © 2023 MoonDanceAcademy.com | All Rights Reserved      


        