doctype html 
html 
    head 
        style 
            include ../static/style.css
    body 
        nav#navbar 

            div#logo  
                img(src="/static/img/logo.png", alt="")
                | MDA
 
            ul 
                li #[a(href='/') home]
                li #[a(href='/') about]
                li #[a(href='/') services]
                li #[a(href='/') class info]
                li #[a(href='/') contact us]

            div#icon  
                img(src="/static/img/user.png", alt="")

    section#introSection 
        div <span>W</span>elcome to Moon Dance Academy 
        div.small Eat sleep Dance Repeat

    section#missionSection
           h2  Our Mission
           div.card 
               h3 Dance Perfection 
               div.card-box 
                    div.card-img 
                        img(src="/static/img/1.png", alt="")

                    div.card-content 
                        p This is the best dance academy of the universe    
           div.card 
               h3 Dance the way you like 
               div.card-box 
                    div.card-img 
                        img(src="/static/img/3.png", alt="")

                    div.card-content 
                        p This is the best dance academy of the universe  
           div.card 
               h3 Expert Teaching    
               div.card-box 
                    div.card-img 
                        img(src="/static/img/2.png", alt="")

                    div.card-content 
                        p This is the best dance academy of the universe  
 
    section#sponsorsSection
        h2 our sponsors  
            div#sponsors  
                img(src= "/static/img/s2.png", alt= "Sponsor Image", class= "spImage")
                img(src= "/static/img/s4.png", alt= "Sponsor Image", class= "spImage")
                img(src= "/static/img/s5.png", alt= "Sponsor Image", class= "spImage")
                img(src= "/static/img/s1.png", alt= "Sponsor Image", class= "spImage")



    footer#footer
        | Copyright © 2023 MoonDanceAcademy.com | All Rights Reserved      


        script 
            include ../static/index.js    